---

elixir_version: "1.5.2-1"
erlang_version: "1:20.1"

postgres:
  oauth2:
    db: oberon_oauth2
    host: localhost
    user: postgres
    pass: postgres
  server:
    db: oberon_server
    host: localhost
    user: postgres
    pass: postgres
  webhook:
    db: oberon_webhook
    host: localhost
    user: postgres
    pass: postgres

server_dir: "/home/{{ ansible_user }}/chat_server"
server_build_dir: "{{ server_dir }}/build"
server_current_dir: "{{ server_dir }}/current"
server_releases_dir: "{{ server_dir }}/releases"
