---

# Repository variables

client_git_version: master
client_git_repo: git://github.com/oberon-chat/chat-client.git

server_git_version: master
server_git_repo: git://github.com/oberon-chat/chat-server.git

# Path variables

local_dir: "{{ playbook_dir }}"
local_config_dir: "{{ local_dir }}/configs"
local_client_config: "{{ local_config_dir }}/client"
local_server_config: "{{ local_config_dir }}/server"

client_dir: "/home/{{ ansible_user }}/chat_client"
client_build_dir: "{{ client_dir }}/build"
client_build_tarball: "{{ client_dir }}/build.tar.gz"
client_config: "{{ client_dir }}/config"
client_current_dir: "{{ client_dir }}/current"
client_logs_dir: "{{ client_dir }}/logs"
client_next_dir: "{{ client_dir }}/next"
client_previous_dir: "{{ client_dir }}/previous"
client_releases_dir: "{{ client_dir }}/releases"
client_release_tarball: "{{ client_releases_dir }}/{{ client_git_version }}.tar.gz"

server_dir: "/home/{{ ansible_user }}/chat_server"
server_build_dir: "{{ server_dir }}/build"
server_build_tarball: "{{ server_build_dir }}/_build/prod/rel/chat_server/releases/**/chat_server.tar.gz"
server_config: "{{ server_dir }}/config"
server_current_dir: "{{ server_dir }}/current"
server_logs_dir: "{{ server_dir }}/logs"
server_next_dir: "{{ server_dir }}/next"
server_previous_dir: "{{ server_dir }}/previous"
server_releases_dir: "{{ server_dir }}/releases"
server_release_tarball: "{{ server_releases_dir }}/{{ server_git_version }}.tar.gz"
server_app_binary: "{{ server_current_dir }}/bin/chat_server"

# Package variables

elixir_version: "1.5.2-1"
erlang_version: "1:20.1"

erlang_cookie: "dqpV7DQ+a89e3dYX3lLKDkR5+lGEM4jlyTHxkQzFpO+2kTd/dU1GYEvZ8IneMVqD"

# ENV variables

postgres:
  oauth2:
    db: "{{ lookup('env', 'CHAT_OAUTH2_POSTGRES_DB') }}"
    host: "{{ lookup('env', 'CHAT_OAUTH2_POSTGRES_HOST') }}"
    user: "{{ lookup('env', 'CHAT_OAUTH2_POSTGRES_USER') }}"
    pass: "{{ lookup('env', 'CHAT_OAUTH2_POSTGRES_PASS') }}"
  server:
    db: "{{ lookup('env', 'CHAT_SERVER_POSTGRES_DB') }}"
    host: "{{ lookup('env', 'CHAT_SERVER_POSTGRES_HOST') }}"
    user: "{{ lookup('env', 'CHAT_SERVER_POSTGRES_USER') }}"
    pass: "{{ lookup('env', 'CHAT_SERVER_POSTGRES_PASS') }}"
  webhook:
    db: "{{ lookup('env', 'CHAT_WEBHOOK_POSTGRES_DB') }}"
    host: "{{ lookup('env', 'CHAT_WEBHOOK_POSTGRES_HOST') }}"
    user: "{{ lookup('env', 'CHAT_WEBHOOK_POSTGRES_USER') }}"
    pass: "{{ lookup('env', 'CHAT_WEBHOOK_POSTGRES_PASS') }}"

server_oauth2_domain: "{{ lookup('env', 'CHAT_OAUTH2_DOMAIN') }}"
server_oauth2_port: "{{ lookup('env', 'CHAT_OAUTH2_PORT') }}"
server_oauth2_port_public: "{{ lookup('env', 'CHAT_OAUTH2_PORT_PUBLIC') }}"

server_websocket_domain: "{{ lookup('env', 'CHAT_WEBSOCKET_DOMAIN') }}"
server_websocket_port: "{{ lookup('env', 'CHAT_WEBSOCKET_PORT') }}"
server_websocket_port_public: "{{ lookup('env', 'CHAT_WEBSOCKET_PORT_PUBLIC') }}"
