---

elixir_version: "1.5.2-1"
erlang_version: "1:20.1"

postgres:
  oauth2:
    db: oberon_oauth2
    host: localhost
    user: postgres
    pass: postgres
  server:
    db: oberon_server
    host: localhost
    user: postgres
    pass: postgres
  webhook:
    db: oberon_webhook
    host: localhost
    user: postgres
    pass: postgres
