[buildservers]
insert-your-host-here.com ansible_port=22 ansible_user=ubuntu

[webservers]
insert-your-host-here.com ansible_port=22 ansible_user=ubuntu

[dbservers]
insert-your-host-here.com ansible_port=22 ansible_user=ubuntu
